body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
}
/* mainbox styles */

.mainbox {
    display:flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;

}

.mcontent {
    
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    
    padding-top: 105px;
    padding-bottom: 105px;
    padding-left: 90px;
    padding-right: 90px; 
}

.about_user {
    margin-bottom: 40px;
    color: #595959;
}

.about_title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
}

.about_name{
    margin-top: 20px;
    margin-bottom: 25px;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;

    color: #000000;
}

.about_description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: #595959;
    
    width: 400px;
}

.projects {
    margin-bottom: 50px;
}
.projects_title,
.work_title,
.education_title{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    
    color: #000000;
}

.projects_list{
    padding: 0;
    margin-left: 15px;
}

.projects_li
.projects_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #000000;
}
.projects_item,
.projects_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #595959;
}

.projects_link {
    margin-left: 10px;
}

.work_experience {

    color: #595959;
}
.work_position,
.education_position {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}

.period {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    color: #A8A8A8;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_li {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #595959;
}

.work_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: #595959;
}

.education {
    
    color: #000000;
}

.item_orange {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #FB6D3A;
}

.sidebar {
    padding-top: 40px;
    width: 370px;

    background: #1E2939;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

/*title Contacts, Tech skills, Soft Skills*/

.sidebar_title {
    
    
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    
    color: #FFFFFF;
}

.contacts,
.tech_skills,
.soft_skills {
    margin-left: 40px;
    margin-bottom: 45px;
}

.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
    

    color: #FFFFFF;
}

.contact_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;

    opacity: 0.5;
}

.tech_skills_list{
    padding: 0;
    margin-left: 15px;
  
    color: #FFFFFF;
}
.tech_skills_li{
    color: #FB6D3A;

}
.tech_skills_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
}

.soft_skills_list{
    padding: 0;
    margin-left: 15px;
  
    color: #FFFFFF;
}
.soft_skills_li{
    color: #FB6D3A;

}
.soft_skills_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
}
